* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  margin: $building-unit_x4;
  font-family: $font-family, sans-serif;

  @media ($mobile) {
    margin: $building-unit-x2;
  }
}


