@use "sass:math";

//colors
$black: #121212;
$green: #1fcc9e;
$green-light: #65daaf;
$red: #e22635;
$pale: #97a2b6;
$pale-light: #bdc4d0;
$white: #ffffff;

// building units 8px based
$building-unit: 8px;
$building-unit_0_5: math.div($building-unit, 2); // 4
$building-unit_x1_5: $building-unit * 1.5; // 12
$building-unit_x2: $building-unit * 2; // 16
$building-unit_x2_5: $building-unit * 2.5; // 20
$building-unit_x3: $building-unit * 3; // 24
$building-unit_x4: $building-unit * 4; // 32

$border-radius: $building-unit_0_5;
$default-transition: 0.4s all;

// typography
$font-family: Questrial;
$font-size-caption: 12px;
$font-size-regular: 14px;
$font-size-h3: 16px;
$font-size-h2: 18px;
$font-size-h1: 36px;

$font-regular: 400;
$font-medium: 600;
$font-bold: 700;

$font_path: '/assets/';


// media queries
$mobile: 'max-width: 767px';
$tablet: 'max-width: 1024px';
$desktop: 'max-width: 1366px';
$wide-desktop: 'max-width: 1499px';
$large-desktop: 'max-width: 1799px';
